# ignore node_modules in both frontend and server
/frontend/node_modules
/server/node_modules

# ignore environment files
**/.env
*.log

# ignore build files
/frontend/build
/dist
.DS_Store
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
